%div.span-22
  %p
    This page is only to see the record of the shifts that have been taken. You should go back to the home page if you need to give or take a shift.
  %h2
    The Shift Switch App has now switched #{Shift.count} shifts!!


%h3.clear Taken Shifts
%br
%table.span-22
  %thead
    %tr.span-24
      %th.evens Name
      %th.evens Shift Type
      %th.evens Date
      %th.evens Time
      %th.evens Taker's Name
      %th.evens
    - @shiftscovered.each do |f|
      - if !f.takingEmail.nil?
        %tr.span-24
          %td.evens #{f.firstName} #{f.lastName}
          %td.evens= f.shiftType
          %td.evens= f.date.strftime('%a, %b %d, %Y')
          %td.evens #{f.starttime.strftime('%I:%M %p')} - #{f.endtime.strftime('%I:%M %p')}
          %td.evens #{f.takingFirstName} #{f.takingLastName}
          %td.action.evens
            = link_to 'view', shift_path(f), :class => 'button white'
            = link_to 'remove', shift_path(f), :confirm => "Are you sure", :method => :delete, :class => 'button white'
%h3.clear Open Shifts
%br
%table.span-22
  %thead
    %tr.span-24
      %th.evens Name
      %th.evens Shift Type
      %th.evens Date
      %th.evens Time
      %th.evens Taker's Name
      %th.evens

 
  - @shifts.each do |f|
    %tr.span-24
      %td.evens #{f.firstName} #{f.lastName}
      %td.evens= f.shiftType
      %td.evens= f.date.strftime('%a, %b %d, %Y')
      %td.evens #{f.starttime.strftime('%I:%M %p')} - #{f.endtime.strftime('%I:%M %p')}
      %td.evens #{f.takingFirstName} #{f.takingLastName}
      %td.action.evens
        = link_to 'take', edit_shift_path(f), :class => 'button white'
        = link_to 'remove', shift_path(f), :confirm => "Are you sure", :method => :delete, :class => 'button white'

